venv/

infrastructureinventoryproject/infrastructureinventoryproject/__pycache__/
infrastructureinventoryproject/infrastructureinventoryapp/__pycache__/

\.DS_Store

*.pyc

infrastructureinventoryproject/infrastructureinventoryapp/migrations/

infrastructureinventoryproject/__init__\.py

infrastructureinventoryproject/db\.json
