{% extends 'base.html' %}

{% load static %}
{% load tz %}

{% block head %}
    <title>Application Server Details</title>
{% endblock %}


{% block links %}
{% endblock %}

{% block body %}


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

<div>
    <div class="container-fluid" style="background-color:white; border-radius: 5px; float: none; text-align: center; padding-bottom: 10px;">
        <h2>{{applicationServer.service}} </h2><h4 style="color:black" >Application Server Details</h4>
        <a role="button" class="btn btn-primary btn-md" href="{% url 'edit-view' pk=applicationServer.pk %}">
            Edit Server
            <span style="padding-left: 7px" class="glyphicon glyphicon-edit" aria-hiddne="true">
            </span></a>
            {% if user.is_staff %}

        <a class="btn btn-danger btn-md" data-toggle="modal" data-target="#modal">
            Delete Server
            <span style="padding-left: 7px;" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>

            {% else %}
                <a role="button" class="btn btn-default btn-md" disabled="disabled">
                Delete Server
                <span style="padding-left: 7px" class="glyphicon glyphicon-trash" aria-hiddne="true">
                </span></a>
                <p> *Must be owner or have staff status to delete*</p>
            {% endif %}
    </div>
</div>

<div class="container-fluid" style="background-color:white; border-radius: 5px; style:inline-block; text-align: center;">
    <p>
        {% if applicationServer.last_editor and applicationServer.last_edited %}
            <div>
            <font style="font-weight: bold;">Published By: </font>
                {{applicationServer.published_by}}
                <font style="font-weight: bold; margin-left: 30px;">Published On: </font>
                {{applicationServer.published_date}} PST
                <font style="font-weight: bold; margin-left: 30px;">Last Editor: </font>
                {{applicationServer.last_editor.username}}
                <font style="font-weight: bold; margin-left: 30px;">Last Edited: </font>
                {{applicationServer.last_edited}} PST
            </div>
        {% else %}
            <div>
                <font style="font-weight: bold;">Published By: </font>
                {{applicationServer.published_by.username}}
                <font style="font-weight: bold; margin-left: 30px;">Published On: </font>
                {{applicationServer.published_date}} PST
            </div>
        {% endif %}
    </p>
</div>

    <br>

    <div class="row" style=" width: 100%; text-align: center; display: inline-block; margin: auto;" >

        <div class="col-md-3 col-centered">
            <h4 style="border-bottom: 1px solid #609">Service</h4>
            {{applicationServer.service}}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Primary Application</h4>
            {{applicationServer.primary_application}}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Hostname</h4>
            {{ applicationServer.hostname }}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Is Virtual Machine</h4>
            {{applicationServer.is_virtual_machine}}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Environment</h4>
            {{applicationServer.get_environment_display}}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Location</p></h4>
            {{applicationServer.location}}
            
            <div class="my-padding"></div>
            
            <h4 style="border-bottom: 1px solid #609">Datacenter</h4>
            {{applicationServer.data_center}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">C Drive</p></h4>
            {{applicationServer.c_drive}}
            {% if applicationServer.d_drive %} GB {% endif %}
        </div>

        
        
        <div class="col-md-3 col-centered">
            <h4 style="border-bottom: 1px solid #609">Operating System</h4>
            {{applicationServer.operating_system}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Rack</h4>
            {{applicationServer.rack}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Model</h4>
            {{ applicationServer.model }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Serial Number</h4>
            {{ applicationServer.serial_number }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Network</h4>
            {{ applicationServer.network}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Private IP</p></h4>
            {{applicationServer.private_ip}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">DMZ Public IP</h4>
            {{applicationServer.dmz_public_ip}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">E Drive</h4>
            {{applicationServer.e_drive}}
            {% if applicationServer.d_drive %} GB {% endif %}
        </div>



        <div class="col-md-3 col-centered">
            <h4 style="border-bottom: 1px solid #609">Virtual IP</h4>
            {{applicationServer.virtual_ip}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Nat IP</h4>
            {{applicationServer.nat_ip}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">ILO or CIMC</h4>
            {{ applicationServer.ilo_or_cimc }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">NIC MAC Address</h4>
            {{ applicationServer.nic_mac_address }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Switch</h4>
            {{ applicationServer.switch}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Port</p></h4>
            {{applicationServer.port}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Purchase Order</h4>
            {{applicationServer.purchase_order}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">D Drive</h4>
            {{applicationServer.d_drive}}
            {% if applicationServer.d_drive %} GB {% endif %}
        </div>


        <div class="col-md-3 col-centered">
            <h4 style="border-bottom: 1px solid #609">Start Date</h4>
            {{applicationServer.start_date}}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Next Hardware Support Date</h4>
            <div id="hw-support">{{applicationServer.next_hardware_support_date}}</div>

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Base Warranty</h4>
            {{ applicationServer.base_warranty }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">CPU</h4>
            {{ applicationServer.cpu }}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">RAM</h4>
            {{ applicationServer.ram}}
            {% if applicationServer.d_drive %} GB {% endif %}

            <div class="my-padding"></div>

            <h4 style="border-bottom: 1px solid #609">Notes</h4>
            {{ applicationServer.notes }}

        </div>
    </div>

</div>

<div class="my-padding"></div>
<div class="my-padding"></div>


{% endblock %}

{% block scripts %}
    <!-- JQuery DatePicker Script -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>
    <!-- JQuery modal script -->
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            $.ajax({
                url: "{% url 'delete-confirmation-view' applicationServer.id%}",
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })
</script>

{% endblock %}