{% extends 'base.html' %}

{% load static %}

{% block links %}

<!-- this css is for the datatable without the exports
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/dataTables.bootstrap.css' %}"> -->

<!-- DataTable file export css -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/buttons.dataTables.min.css' %}">

<!-- rowGroup API -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/rowGroup.dataTables.min.css' %}">


{% endblock %}

{% block body %}

    <div class="container-fluid" style="background-color: white; padding-left: 15px; padding-right: 15px; padding-bottom: 10px;">
            <h2 style="text-align: center">App Server Import Confirmation
            <span style="color: black; font-size: 22px">
            </span>
            </h2>

            <p style="text-align: center; margin-bottom:0px;">
                These application servers were successfully parsed from the excel sheet <br>
                To confirm the import into the database, press the button below.
            </p>
            <div style="text-align: center">
                <form method="POST">
                    {% csrf_token %}
                    <input name="servers" type="hidden" value="{{ applicationServers }}">
                    <button type="submit" class="btn btn-success btn-md">Confirm Import<span style="padding-left: 7px" class="glyphicon glyphicon-ok-sign" aria-hidden="true">
                    </span></button>
                </form>
            </div>
    </div>

<br>




<br>

        <div class="row">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width: 100%;">
                <thead style="background-color: #580084; color: white">
                    <tr>
                        <th class="select-filter">Server Function</th>
                        <th class="select-filter">Primary Application</th>
                        <th class="select-filter">Hostname</th>
                        <th class="select-filter">Serial Number</th>
                        <th class="select-filter">Private IP</th>
                        <th class="select-filter">Location</th>
                        <th class="select-filter">Virtual Machine</th>
                        <th class="select-filter">Environment</th>
                        <th class="select-filter">Datacenter</th>
                        <th class="select-filter">Operating System</th>
                        <th class="select-filter">Rack</th>
                        <th class="select-filter">Model</th>
                        <th class="select-filter">Network</th>
                        <th class="select-filter">DMZ Public IP</th>
                        <th class="select-filter">Virtual IP</th>
                        <th class="select-filter">Nat IP</th>
                        <th class="select-filter">ILO or CIMC</th>
                        <th class="select-filter">NIC MAC Address</th>
                        <th class="select-filter">Switch</th>
                        <th class="select-filter">Port</th>
                    </tr>
                    </a>
                </thead>
                <tbody>

                    {% for applicationServer in applicationServers %}
                            <tr data-href="javascript:void(0)">
                            <td>{{applicationServer.service}}</td>
                            <td>{{applicationServer.primary_application}}</td>
                            <td>{{applicationServer.hostname}}</td>
                            <td>{{applicationServer.serial_number}}</td>
                            <td>{{applicationServer.private_ip}}</td>
                            <td>{{applicationServer.location}}</td>
                            <td>{{applicationServer.is_virtual_machine}}</td>
                            <td>{{applicationServer.get_environment_display}}</td>
                            <td>{{applicationServer.data_center}}</td>
                            <td>{{applicationServer.operating_system}}</td>
                            <td>{{applicationServer.rack}}</td>
                            <td>{{applicationServer.model}}</td>
                            <td>{{applicationServer.network}}</td>
                            <td>{{applicationServer.dmz_public_ip}}</td>
                            <td>{{applicationServer.virtual_ip}}</td>
                            <td>{{applicationServer.nat_ip}}</td>
                            <td>{{applicationServer.ilo_or_cimc}}</td>
                            <td>{{applicationServer.nic_mac_address}}</td>
                            <td>{{applicationServer.switch}}</td>
                            <td>{{applicationServer.port}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

<div class="my-padding"></div>

{% endblock %}

{% block scripts %}

    <!-- Datatables js and jquery -->



    <!-- this js was for the datatable without the exports -->
    <!--<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.bootstrap.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jquery.dataTables.js' %}"></script>

    <!-- For the export buttons functionality -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.print.min.js' %}"></script>

    <!-- our custom style -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>

{% endblock %}