{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Import Application Server</title>
{% endblock %}

{% block body %}

<div class="container" style="border-bottom: 3px inset #c4cedb; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px">
    <div class = "row">
        <div class="col-md-5">
            <h2>Import Servers from Excel</h2>

        </div>
        <div class="col-md-7 text-right">
            <a role="button" id = "download-btn" class="btn btn-primary" href="{% static "FormatSample.xlsx" %}">
                Download Sample Sheet
            <span style="padding-left: 7px" class="glyphicon glyphicon-save" aria-hiddne="true"></span></a>
        </div>
    </div>
</div>

<p style="text-align:center; margin-top:25px;">
    Select the excel file with the server information you would like to import into the site.<br>
    The excel sheet must follow the exact format of the sample sheet available for download on this page.
</p>
<br><br><br>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center; margin-bottom: 20px;">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success btn-md">Submit<span style = "padding-left: 7px" class="glyphicon glyphicon-share-alt" aria-hidden="true">
                </span></button>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</form>



{% endblock %}




