{% extends 'base.html' %}

{% load static %}
{% load tz %}

{% block head %}
    <title>Application Server Details</title>
{% endblock %}


{% block links %}
{% endblock %}

{% block body %}


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

<div>
    <div class="container" style="background-color:white; border-radius: 5px; float: none; padding-bottom: 10px;">
        <div class="row">

            <div class="col-md-8">
                <h2>{{applicationServer.name}} </h2>
            </div>

            <div class="col-md-4 text-right">

                {% if user.is_staff %}

                <a class="btn btn-danger btn-md" data-toggle="modal" data-target="#modal">
                    Delete Server
                    <span style="padding-left: 7px;" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                    {% else %}
                        <a role="button" class="btn btn-default btn-md" disabled="disabled">
                        Delete Server
                        <span style="padding-left: 7px" class="glyphicon glyphicon-trash" aria-hiddne="true">
                        </span></a>
                        <p> *Must be owner or have staff status to delete*</p>
                    {% endif %}
            </div>
    </div>
    </div>
</div>

<div class="container" style="background-color:white; border-radius: 5px; style:inline-block; text-align: center;">
    <p>
        {% if applicationServer.last_editor and applicationServer.last_edited %}
            <div>
            <font style="font-weight: bold;">Published By: </font>
                {{applicationServer.published_by}}
                <font style="font-weight: bold; margin-left: 30px;">Published On: </font>
                {{applicationServer.published_date}} PST
                <font style="font-weight: bold; margin-left: 30px;">Last Editor: </font>
                {{applicationServer.last_editor.username}}
                <font style="font-weight: bold; margin-left: 30px;">Last Edited: </font>
                {{applicationServer.last_edited}} PST
            </div>
        {% else %}
            <div>
                <font style="font-weight: bold;">Last Pulled: </font>
                {{applicationServer.last_pulled}} PST
            </div>
        {% endif %}
    </p>
</div>

<div class="my-padding"></div>

<div class="container" style="background-color:white;">
    <div class="row">
        <div class="col-md-6">
            <h3>Record Information</h3>
        </div>
        <div class="col-md-6">
            <h3>Discovered Data</h3>

        </div>
    </div>
</div>

<div class="my-padding"></div>
<div class="my-padding"></div>


{% endblock %}

{% block scripts %}
    <!-- JQuery DatePicker Script -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>
    <!-- JQuery modal script -->
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            $.ajax({
                url: "{% url 'delete-confirmation-view' applicationServer.id%}",
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })
    </script>

{% endblock %}