



{% extends 'base.html' %}

{% load static %}

{% block links %}

<!-- this css is for the datatable without the exports
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/dataTables.bootstrap.css' %}"> -->

<!-- DataTable file export css -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/buttons.dataTables.min.css' %}">

<!-- rowGroup API -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/rowGroup.dataTables.min.css' %}">


{% endblock %}

{% block scripts %}

    <!-- Datatables js and jquery -->



    <!-- this js was for the datatable without the exports -->
    <!--<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.bootstrap.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jquery.dataTables.js' %}"></script>

    <!-- For the export buttons functionality -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.print.min.js' %}"></script>

    <!-- our custom style -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

    <div class="container-fluid" style="background-color: white; padding-left: 15px; padding-right: 15px; padding-bottom: 10px;">
            <h2 style="text-align: center">Application Servers
            <span style="color: black; font-size: 22px">
            </span>
            </h2>

            <p style="text-align: center; margin-bottom:0px;">
                To see an application server's details, click on its entry in the table.<br>
                Please Note: The table is horizontally scrollable.
            </p>
            <div style="text-align: center">
                <a role="button" class="btn btn-success" href="/infrastructureinventory/applicationserver/import/">
                    Import From Excel
                <span style="padding-left:7px" class="glyphicon glyphicon-import" aria-hidden="true"></span></a>
                <a role="button" class="btn btn-primary" href="/infrastructureinventory/applicationserver/add/">
                    Add Application Server
                <span style="padding-left:7px" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
            </div>
    </div>

    <div class="my-padding"></div>

    <div class="container">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="text-align:center">
                <a data-toggle="collapse" href="#collapse1">Choose Visible Columns</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <form action="" id="myform">
                  <div class="row">
                      <div class="col-md-2">
                            <input type="checkbox" checked="checked" id="cb1" data-column='0'>
                            <label for="cb1">Server Function</label>
                      </div>
                      <div class="col-md-2">
                            <input type="checkbox" checked="checked" data-column='1' id="cb2">
                            <label for="cb2">Primary Application</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='2' id="cb3">
                            <label for="cb3">Hostname</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='3' id="cb4">
                            <label for="cb4">Serial Number</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='4' id="cb5">
                            <label for="cb5">Private IP</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='5' id="cb6">
                            <label for="cb6">Location</label>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='6' id="cb7">
                            <label for="cb7">Virtual Machine</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='7' id="cb8">
                            <label for="cb8">Environment</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='8' id="cb9">
                            <label for="cb9">Additional IPs</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='9' id="cb10">
                            <label for="cb10">Datacenter</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='10' id="cb11">
                            <label for="cb11">Operating System</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='11' id="cb12">
                            <label for="cb12">Rack</label>
                      </div>
                  </div>
                      <div class="row">
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='12' id="cb13">
                            <label for="cb13">Model</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='13' id="cb14">
                            <label for="cb14">Network</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='14' id="cb15">
                            <label for="cb15">DMZ Public IP</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='15' id="cb16">
                            <label for="cb16">Virtual IP</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='16' id="cb17">
                            <label for="cb17">Nat IP</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='17' id="cb18">
                            <label for="cb18">ILO or CIMC</label>
                      </div>
                  </div>
                      <div class="row">
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='18' id="cb19">
                            <label for="cb19">NIC MAC Address</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='19' id="cb20">
                            <label for="cb20">Switch</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='20' id="cb21">
                            <label for="cb21">Port</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='21' id="cb22">
                            <label for="cb22">Purchase Order</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='22' id="cb23">
                            <label for="cb23">Start Date</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='23' id="cb24">
                            <label for="cb24">HW Support Date</label>
                      </div>

                  </div>
                  <div class="row">
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='24' id="cb25">
                            <label for="cb25">Base Warranty</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='25' id="cb26">
                            <label for="cb26">CPU</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='26' id="cb27">
                            <label for="cb27">RAM</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='27' id="cb28">
                            <label for="cb28">C:</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='28' id="cb29">
                            <label for="cb29">D:</label>
                      </div>
                      <div class="col-md-2">
                          
                            <input type="checkbox" checked="checked" data-column='29' id="cb30">
                            <label for="cb30">E:</label>
                      </div>

                  </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

<br>




<br>

        <div class="row">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width: 100%;">
                <thead style="background-color: #580084; color: white">
                <a href="/infrastructureinventory/applicationserver/">
                    <tr>
                        <th class="select-filter">Server Function</th>
                        <th class="select-filter">Primary Application</th>
                        <th class="select-filter">Hostname</th>
                        <th class="select-filter">Serial Number</th>
                        <th class="select-filter">Private IP</th>
                        <th class="select-filter">Location</th>
                        <th class="select-filter">Virtual Machine</th>
                        <th class="select-filter">Environment</th>
                        <th class="select-filter">Additional IPs</th>
                        <th class="select-filter">Datacenter</th>
                        <th class="select-filter">Operating System</th>
                        <th class="select-filter">Rack</th>
                        <th class="select-filter">Model</th>
                        <th class="select-filter">Network</th>
                        <th class="select-filter">DMZ Public IP</th>
                        <th class="select-filter">Virtual IP</th>
                        <th class="select-filter">Nat IP</th>
                        <th class="select-filter">ILO or CIMC</th>
                        <th class="select-filter">NIC MAC Address</th>
                        <th class="select-filter">Switch</th>
                        <th class="select-filter">Port</th>
                        <th class="select-filter">Purchase Order</th>
                        <th class="select-filter">Start Date</th>
                        <th class="select-filter">Next Hardware Support Date</th>
                        <th class="select-filter">Base Warranty</th>
                        <th class="select-filter">CPU</th>
                        <th class="select-filter">RAM (GB)</th>
                        <th class="select-filter">C: (GB)</th>
                        <th class="select-filter">D: (GB)</th>
                        <th class="select-filter">E: (GB)</th>
                    </tr>
                    </a>
                </thead>
                <tbody>

                    {% for applicationServer in applicationServers %}
                        <tr data-href="{%url 'details-view' pk=applicationServer.pk%}" class="my-hover">
                            <td>{{applicationServer.service}}</td>
                            <td>{{applicationServer.primary_application}}</td>
                            <td>{{applicationServer.hostname}}</td>
                            <td>{{applicationServer.serial_number}}</td>
                            <td>{{applicationServer.private_ip}}</td>
                            <td>{{applicationServer.location}}</td>
                            <td>{{applicationServer.is_virtual_machine}}</td>
                            <td>{{applicationServer.get_environment_display}}</td>
                            <td>
                                {% if applicationServer.getAdditionalIPs.count > 0 %}

                                <a class="link">View IPs</a>
                                <div class="nested-table" style="padding-bottom:0px">
                                    <table class="table" style="padding-bottom:0px">
                                        <thead>
                                            <tr style="background-color:whitesmoke">
                                                <th scope="col" style="text-align:center;">Label</th>
                                                <th scope="col" style="text-align:center;">IP Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {% for ip in applicationServer.getAdditionalIPs %}
                                                        <tr style="background-color:whitesmoke">
                                                            <td>{{ip.label}}</td>
                                                            <td>{{ip.ip}}</td>
                                                        </tr>
                                                {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                            <td>{{applicationServer.data_center}}</td>
                            <td>{{applicationServer.operating_system}}</td>
                            <td>{{applicationServer.rack}}</td>
                            <td>{{applicationServer.model}}</td>
                            <td>{{applicationServer.network}}</td>
                            <td>{{applicationServer.dmz_public_ip}}</td>
                            <td>{{applicationServer.virtual_ip}}</td>
                            <td>{{applicationServer.nat_ip}}</td>
                            <td>{{applicationServer.ilo_or_cimc}}</td>
                            <td>{{applicationServer.nic_mac_address}}</td>
                            <td>{{applicationServer.switch}}</td>
                            <td>{{applicationServer.port}}</td>
                            <td>{{applicationServer.purchase_order}}</td>
                            <td>{{applicationServer.start_date}}</td>
                            <td>{{applicationServer.next_hardware_support_date}}</td>
                            <td>{{applicationServer.base_warranty}}</td>
                            <td>{{applicationServer.cpu}}</td>
                            <td>{{applicationServer.ram}}</td>
                            <td>{{applicationServer.c_drive}}</td>
                            <td>{{applicationServer.d_drive}}</td>
                            <td>{{applicationServer.e_drive}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

<div class="my-padding"></div>

{% endblock %}

<script type="text/javascript">
    $('.nested-table').stop().animate({
        opacity: '0',
        display: 'none'
    }, 600, function() {
        });
    });
    $('#link').mouseover(function(event) {
        $('.nested-table').stop().animate({
            opacity: '1',
            display: 'block'
        }, 300, function() {
        });
    });
</script>