{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Search Application Servers</title>
{% endblock %}

<!-- JQuery DatePicker widget -->
{% block links %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" style="padding-bottom: 30px; padding-top: 20px">


    <div class="col-md-12" style="background-color: white; padding-left: 25px; padding-right: 15px">
        <div class="row">
            <div class="col-md-12 text-left" style="padding-bottom: 15px;">
                <h2 style="padding-bottom: 8px">Application Servers Advanced Search</h2>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="row">

                <div class="col-md-4">
                    {{ form.all_fields.errors }}
                    <label for="{{ form.all_fields.id_for_label }}">All Fields</label><br>
                    {{ form.all_fields }}
                </div>
             <div class="col-md-4">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Name</label><br>
                    {{ form.name }}
                </div>
                <div class="col-md-4">
                    {{ form.record_type.errors }}
                    <label for="{{ form.record_type.id_for_label }}">Record Type</label><br>
                    {{ form.record_type }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row">


                <div class="col-md-4">
                    {{ form.view.errors }}
                    <label for="{{ form.view.id_for_label }}">View</label><br>
                    {{ form.view }}
                </div>
                <div class="col-md-4">
                    {{ form.zone.errors }}
                    <label for="{{ form.zone.id_for_label }}">Zone</label><br>
                    {{ form.zone }}
                </div>
                <div class="col-md-4">
                    {{ form.ms_ad_user_data.errors }}
                    <label for="{{ form.ms_ad_user_data.id_for_label }}">MS AD User Count</label><br>
                    {{ form.ms_ad_user_data }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row">


                <div class="col-md-4">
                    {{ form.ttl.errors }}
                    <label for="{{ form.ttl.id_for_label }}">Time to Live</label><br>
                    {{ form.ttl }}
                </div>
                <div class="col-md-4">
                    {{ form.creator.errors }}
                    <label for="{{ form.creator.id_for_label }}">Creator</label><br>
                    {{ form.creator }}
                </div>
                <div class="col-md-4">
                    {{ form.ddns_principal.errors }}
                    <label for="{{ form.ddns_principal.id_for_label }}">DDNS Principal</label><br>
                    {{ form.ddns_principal }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row">

                <div class="col-md-4">
                    {{ form.shared_record_group.errors }}
                    <label for="{{ form.shared_record_group.id_for_label }}">Shared Record Group</label><br>
                    {{ form.shared_record_group }}
                </div>
                <div class="col-md-4">
                    {{ form.ref.errors }}
                    <label for="{{ form.ref.id_for_label }}">Ref</label><br>
                    {{ form.ref }}
                </div>
                <div class="col-md-4">
                    {{ form.device_location.errors }}
                    <label for="{{ form.device_location.id_for_label }}">Device Location</label><br>
                    {{ form.device_location }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row">


                <div class="col-md-4">
                    {{ form.device_description.errors }}
                    <label for="{{ form.device_description.id_for_label }}">Device Description</label><br>
                    {{ form.device_description }}
                </div>
                <div class="col-md-4">
                    {{ form.device_type.errors }}
                    <label for="{{ form.device_type.id_for_label }}">Device Type</label><br>
                    {{ form.device_type }}
                </div>
                 <div class="col-md-4">
                    {{ form.device_vendor.errors }}
                    <label for="{{ form.device_vendor.id_for_label }}">Device Vendor</label><br>
                    {{ form.device_vendor }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row">
                <div class="col-md-4">
                    {{ form.network_view.errors }}
                    <label for="{{ form.network_view.id_for_label }}">Network View</label><br>
                    {{ form.network_view }}
                </div>
                <div class="col-md-4">
                    {{ form.ipv4addr.errors }}
                    <label for="{{ form.ipv4addr.id_for_label }}">IPv4 Address</label><br>
                    {{ form.ipv4addr }}
                </div>
                <div class="col-md-4">
                    {{ form.ipv6addr.errors }}
                    <label for="{{ form.ipv6addr.id_for_label }}">IPv6 Address</label><br>
                    {{ form.ipv6addr }}
                </div>

            </div>

            <div class="my-padding"></div>

            <div class="row">
                <div class="col-md-4">
                    {{ form.alias.errors }}
                    <label for="{{ form.alias.id_for_label }}">Alias</label><br>
                    {{ form.alias }}
                </div>
                <div class="col-md-4">
                    {{ form.extensible_attribute_value.errors }}
                    <label for="{{ form.extensible_attribute_value.id_for_label }}">Extensible Attribute Value</label><br>
                    {{ form.extensible_attribute_value }}
                </div>
                <div class="col-md-4">
                    {{ form.discovered_data.errors }}
                    <label for="{{ form.discovered_data.id_for_label }}">Discovered Data</label><br>
                    {{ form.discovered_data }}
                </div>

            </div>

            <div class="my-padding"></div>

            <div class="row">
                <div class="col-md-2">
                    {{ form.rrset_order.errors }}
                    <label for="{{ form.rrset_order.id_for_label }}">RRSet Order</label><br>
                    {{ form.rrset_order }}
                </div>
                <div class="col-md-2">
                    {{ form.use_cli_credentials.errors }}
                    <label for="{{ form.use_cli_credentials.id_for_label }}">Use CLI Credentials</label><br>
                    {{ form.use_cli_credentials }}
                </div>
                <div class="col-md-2">
                    {{ form.use_snmp3_credential.errors }}
                    <label for="{{ form.use_snmp3_credentials.id_for_label }}">Use SNMP3 Credential</label><br>
                    {{ form.use_snmp3_credential }}
                </div>
                <div class="col-md-2">
                    {{ form.use_snmp_credential.errors }}
                    <label for="{{ form.use_snmp_credential.id_for_label }}">Use SNMP Credential</label><br>
                    {{ form.use_snmp_credential }}
                </div>
                <div class="col-md-2">
                    {{ form.disable_discovery.errors }}
                    <label for="{{ form.disable_discovery.id_for_label }}">Disable Discovery</label><br>
                    {{ form.disable_discovery }}
                </div>
                <div class="col-md-2">
                    {{ form.forbid_reclamation.errors }}
                    <label for="{{ form.forbid_reclamation.id_for_label }}">Forbid Reclamation</label><br>
                    {{ form.use_snmp_credential }}
                </div>

            </div>

            <div class="my-padding"></div>

            <div class="row">
                <div class="col-md-2">
                    {{ form.ddns_protected.errors }}
                    <label for="{{ form.ddns_protected.id_for_label }}">DDNS Protected</label><br>
                    {{ form.ddns_protected }}
                </div>
                <div class="col-md-2">
                    {{ form.disable.errors }}
                    <label for="{{ form.disable.id_for_label }}">Disable</label><br>
                    {{ form.disable }}
                </div>

                <div class="col-md-2">
                    {{ form.use_ttl.errors }}
                    <label for="{{ form.use_ttl.id_for_label }}">Use TTL</label><br>
                    {{ form.use_ttl }}
                </div>
                <div class="col-md-2">
                    {{ form.reclaimable.errors }}
                    <label for="{{ form.reclaimable.id_for_label }}">Reclaimable</label><br>
                    {{ form.reclaimable }}
                </div>
                <div class="col-md-2">
                    {{ form.allow_telnet.errors }}
                    <label for="{{ form.allow_telnet.id_for_label }}">Allow Telnet</label><br>
                    {{ form.allow_telnet }}
                </div>
                <div class="col-md-2">
                    {{ form.configure_for_dns.errors }}
                    <label for="{{ form.configure_for_dns.id_for_label }}">Configure For DNS</label><br>
                    {{ form.configure_for_dns }}
                </div>
            </div>

            <div class="my-padding"></div>

            <div class="row" style="padding-bottom: 20px">
                <div class="col-md-4"></div>

                <div class="col-md-4" style="text-align: center"><button type="submit" class="btn btn-success btn-md">Search<span style="padding-left: 7px" class="glyphicon glyphicon-search" aria-hidden="true">
                </span></button></div>

                <div class="col-md-4" style="text-align: right; padding-right: 6%">
                </div>
            </div>

        </form>

    </div>

    <div class="col-md-2"></div>
    </div></div>


{% endblock %}

<!-- JQuery DatPicker Scripts -->
{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#anim" ).on( "change", function() {
      $( "#id_start_date" ).datepicker( "option", "showAnim", $( this ).val() );
    });
    $( "#id_next_hardware_support_date" ).datepicker();
    $( "#anim" ).on( "change", function() {
      $( "#id_next_hardware_support_date" ).datepicker( "option", "showAnim", $( this ).val() );
    });
    $( "#id_base_warranty" ).datepicker();
    $( "#anim" ).on( "change", function() {
      $( "#id_base_warranty" ).datepicker( "option", "showAnim", $( this ).val() );
    });
  } );
        </script>

{% endblock %}
