{% extends 'base.html' %}

{% load static %}

{% block links %}

<!-- this css is for the datatable without the exports
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/dataTables.bootstrap.css' %}"> -->

<!-- DataTable file export css -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/buttons.dataTables.min.css' %}">

<!-- rowGroup API -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/rowGroup.dataTables.min.css' %}">


{% endblock %}

{% block body %}

    <div style="padding-left: 15px; padding-right: 15px">
        <div class="row" style="border-bottom: 3px inset #c4cedb; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px">
            <div class="col-md-6" style="padding-left: 0px">
                <h2>Application Servers
                <span style="color: black; font-size: 22px">
                </span>
                </h2>
            </div>


            <div class="col-md-6 text-right" style="padding-right: 0px">
                <a role="button" class="btn btn-md" href="/infrastructureinventory/addserver/">
                Add Application Server
                <span class="glyphicon glyphicon-plus" aria-hiddne="true">
                </span></a>
            </div>

        </div>
    </div>

<br>




<br>

        <div class="row">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width:100%">
                <thead style="background-color: #580084; color: white">
                    <tr>
                        <th class="select-filter">Server Function</th>
                        <th class="select-filter">Hostname</th>
                        <th class="select-filter">Primary Application</th>
                        <th class="select-filter">Serial Number</th>
                        <th class="select-filter">Private IP</th>
                        <th class="select-filter">Location</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>

                    {% for applicationServer in applicationServers %}
                        <tr>
                            <td>{{applicationServer.service}}</td>
                            <td>{{applicationServer.hostname}}</td>
                            <td>{{applicationServer.primary_application}}</td>
                            <td>{{applicationServer.serial_number}}</td>
                            <td>{{applicationServer.private_ip}}</td>
                            <td>{{applicationServer.location}}</td>
                            <td align="center"><a href=""><span class="glyphicon glyphicon-pencil" aria-hidden="true">
                            </span></a></td>
                        </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Service</th>
                        <th>Hostname</th>
                        <th>Primary Application Function</th>
                        <th>Serial Number</th>
                        <th>Private IP</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

<div class="my-padding"></div>

{% endblock %}

{% block scripts %}

    <!-- Datatables js and jquery -->

    <!-- this js was for the datatable without the exports -->
    <!--<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.bootstrap.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jquery.dataTables.js' %}"></script>

    <!-- For the export buttons functionality -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.print.min.js' %}"></script>

    <!-- our custom style -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>


{% endblock %}