



{% extends 'base.html' %}

{% load static %}

{% block links %}

<!-- this css is for the datatable without the exports
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/dataTables.bootstrap.css' %}"> -->

<!-- DataTable file export css -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/buttons.dataTables.min.css' %}">

<!-- rowGroup API -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/rowGroup.dataTables.min.css' %}">


{% endblock %}

{% block body %}

    <div class="container" style="border-bottom: 3px inset #c4cedb; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px">
        <div class="row">
            <div class="col-md-4">
                <h2>Infoblox API Page</h2>
            </div>

            {% if form != null %}

                <div class="col-md-8 text-right">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="auth_zone_import" type="hidden" value="true">
                        <button onclick="disableButton('auth-submit')" id="auth-submit" class="btn btn-primary" style="margin-bottom:23px;">
                            Update Authoritative Zone Definitions
                        <span style="padding-left:7px" class="glyphicon glyphicon-download" aria-hidden="true"></span></button>
                    </form>

            {% endif %}
    </div>

        </div>
    </div>




    <div class="my-padding"></div>

{% if form != null %}

    <div class="container" style="text-align:center">
        <form method="post" autocomplete="off">
            {% csrf_token %}


            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label for="{{ form.view.id_for_label }}">View: </label>
                    {{ form.view }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.zone.id_for_label }}">Zone: </label>
                    {{ form.zone }}
                </div>

                <div class="col-md-2" style="margin-top:5px; margin-left:5px; padding-left:0px; padding-right:0px;">
                    <label for="{{ form.record_type.id_for_label }}">Record Type: </label>
                    {{ form.record_type }}
                </div>
                <div class="col-md-2">
                    <button onclick="disableButton('import-submit')" id="import-submit" class="btn btn-success" style="margin-top:24px;">
                        Import from Zone
                    <span style="padding-left:7px" class="glyphicon glyphicon-import" aria-hidden="true"></span></button>
                </div>
            </div>
            {% if error != null %}
            <div class="row" style="margin-top:25px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="color:red;">
                    {{ error }}
                </div>
            </div>

            {% elif message != null %}

            <div class="row" style="margin-top:25px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    {{ message }}
                </div>
            </div>

            {% endif %}


            <div class="row" style="margin-top:10px;">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    {{ form.view.errors }}
                </div>
                <div class="col-md-2">
                    {{ form.zone.errors }}
                </div>
                <div class="col-md-2">
                    {{ form.record_type.errors }}
                </div>
            </div>
        </form>
    </div>

{% else %}

    {% if error != null %}
        <div class="row" style="margin-top:25px;">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center" style="color:red;">
                {{ error }}
            </div>
        </div>
    {% endif %}

{% endif %}

    <div class="my-padding"></div>

    {% if zones.count > 0 %}
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table id="simple-table" class="table table-bordered" style="background-color:white;">
                        <thead style="text-align:center;">
                            <tr>
                                <th>View</th>
                                <th>Zone</th>
                                <th>Last Host Record Pull</th>
                                <th>Last A Record Pull</th>
                                <th>Last CNAME Record Pull</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for zone in zones %}
                                <tr>
                                    <td>{{ zone.view }}</td>
                                    <td>{{ zone.zone }}</td>
                                    <td>{{ zone.last_host_pull }}</td>
                                    <td>{{ zone.last_a_pull }}</td>
                                    <td>{{ zone.last_cname_pull }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% if records.count > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    Please select to confirm or cancel this import before navigating away from this page or initiating another import.
                    When confirming an import, the button should be pressed only once and the page should not be navigated away from until the import is completed.
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="confirmed" type="hidden" value="true">
                        <button onclick="disableConfirmButtons('confirm-import')" id="confirm-import" class="btn btn-success" style="margin-bottom:23px;">
                                    Confirm Import
                                <span style="padding-left:7px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
                    </form>
                </div>
                <div class="col-md-2">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="cancelled" type="hidden" value="true">
                        <button onclick="disableConfirmButtons('cancel-import')" id="cancel-import" class="btn btn-danger" style="margin-bottom:23px;">
                                    Cancel Import
                                <span style="padding-left:7px" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                    </form>
                </div>
        </div>
    </div>


    <div class="container">
                <div class="col-xs-12">
                <table id="example" class="table table-bordered" style="width: 100%;">
                    <thead style="background-color: #580084; color: white">
                        <tr>
                            <th class="select-filter">Name</th>
                            {% if record_type == "A Record" %}
                                <th class="select-filter">IPv4 Address</th>
                            {% endif %}
                            {% if record_type == "CNAME Record" %}
                                <th class="select-filter">Canonical</th>
                            {% endif %}
                            <th class="select-filter">Ref</th>

                        </tr>
                        </a>
                    </thead>
                    <tbody>

                        {% for record in records %}
                            <tr data-href="javascript:void(0)">
                                <td>{{record.name}}</td>
                                {% if record_type == "A Record" %}
                                    <td>{{record.ipv4addr}}</td>
                                {% endif %}
                                {% if record_type == "CNAME Record" %}
                                    <td>{{record.canonical}}</td>
                                {% endif %}
                                <td>{{record.ref}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


    <br>
{% endif %}



<div class="my-padding"></div>

{% endblock %}

{% block scripts %}

        <script style="text/javascript">
            function disableButton(id)
            {
                button = document.getElementById(id);
                button.form.submit();
                button.disabled=true;
            }

            function disableConfirmButtons(id)
            {
                document.getElementById(id).form.submit();
                document.getElementById('confirm-import').disabled=true;
                document.getElementById('cancel-import').disabled=true;
            }


        </script>

    <!-- Datatables js and jquery -->

    <!-- this js was for the datatable without the exports -->
    <!--<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.bootstrap.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.rowGroup.min.js' %}"></script>

    <!-- For the export buttons functionality -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/buttons.print.min.js' %}"></script>

    <!-- our custom style -->
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/script.js' %}"></script>


{% endblock %}
