{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Infrastructure Inventory | Logout</title>
{% endblock %}

{% block nav %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <span class="navbar-brand" style="margin-top: -4px"><img src="{% static 'Nlogo.jpg' %}"></span>
        <span class="navbar-brand">MTE Infrastructure Inventory</span>
      </div>
    </nav>
{% endblock %}

{% block body %}

    <div class="my-center">
        <h3>Thanks for using </h3>
        <h4 style="text-align: center">MTE Infrastructure Inventory</h4>
        <div style="padding-left: 35%">
        <a role="button" class="btn btn-primary btn-sm" href="/infrastructureinventory/login/">
        Login</a></div>
    </div>

{% endblock %}