{% load getattribute %}
{% load getfield %}

{% block 'list' %}
<div class="container">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width: 100%;">
                <thead style="background-color: #580084; color: white">
                <a href="/infrastructureinventory/applicationserver/">
                    <tr>
                        {% for field in fields %}
                            <th class="select-filter">{{ field.1 }}</th>
                        {% endfor %}

                        {% for cloudField in cloudFields %}
                            <th class="select-filter">{{ cloudField.1 }}</th>
                        {% endfor %}

                        {% for dmField in dmFields %}
                            <th class="select-filter">{{ dmField.1 }}</th>
                        {% endfor %}

                        {% for snmp3Field in snmp3Fields %}
                            <th class="select-filter">{{ snmp3Field.1 }}</th>
                        {% endfor %}

                        {% for snmpField in snmpFields %}
                            <th class="select-filter">{{ snmpField.1 }}</th>
                        {% endfor %}

                        {% for awsField in awsFields %}
                            <th class="select-filter">{{ awsField.1 }}</th>
                        {% endfor %}

                        {% for ddField in ddFields %}
                            <td class="select-filter">{{ ddField.1 }}</td>
                        {% endfor %}
                    </tr>
                    </a>
                </thead>
                <tbody>
                    <!--TODO:Make this dynamic in which columns it shows-->
                    {% for applicationServer in applicationServers %}
                        <tr data-href="{%url 'details-view' pk=applicationServer.pk%}" class="my-hover">
                            {% for field in fields %}



                                    {% if field.1 == "IPv4 Addresses" %}

                                        {% if applicationServer.getIPv4Addresses.0 != null %}
                                            <td class = "table-entry">
                                                    <div style="color:purple;">Hover to View</div>
                                                    <div class="nested-table" style="padding-bottom:0px">
                                                        <table class="table" style="padding-bottom:0px">
                                                            <tbody>
                                                                {% for ip in applicationServer.getIPv4Addresses %}
                                                                    <tr>
                                                                    <td style="text-align:center">
                                                                        {{ip.0}}
                                                                    </td>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>

                                        {% else %}
                                            <td>None</td>
                                        {% endif %}



                                    {% elif field.1 == "IPv6 Addresses" %}

                                        {% if applicationServer.getIPv6Addresses.0 != null %}
                                                <td class = "table-entry">
                                                    <div style="color:purple;">Hover to View</div>
                                                    <div class="nested-table" style="padding-bottom:0px">
                                                        <table class="table" style="padding-bottom:0px">
                                                            <tbody>
                                                                {% for ip in applicationServer.getIPv6Addresses %}
                                                                    <tr>
                                                                    <td style="text-align:center">
                                                                        {{ip.0}}
                                                                    </td>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td>None</td>
                                            {% endif %}


                                    {% elif field.1 == "Aliases" %}

                                        {% if applicationServer.getAliases.0 != null %}
                                                <td class = "table-entry">
                                                    <div style="color:purple;">Hover to View</div>
                                                    <div class="nested-table" style="padding-bottom:0px">
                                                        <table class="table" style="padding-bottom:0px">
                                                            <tbody>
                                                                {% for alias in applicationServer.getAliases %}
                                                                    <tr>
                                                                    <td style="text-align:center">
                                                                        {{alias.0}}
                                                                    </td>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td>None</td>
                                            {% endif %}


                                    {% elif field.1 == "Extensible Attributes" %}

                                        {% if applicationServer.getExtensibleAttributes.0 != null %}
                                                <td class = "table-entry">
                                                    <div style="color:purple;">Hover to View</div>
                                                    <div class="nested-table" style="padding-bottom:0px">
                                                        <table class="table" style="padding-bottom:0px">
                                                            <tbody>
                                                                {% for extattr in applicationServer.getExtensibleAttributes %}
                                                                    <tr>
                                                                    <td style="text-align:center">
                                                                        <strong>{{ extattr.0 }}: </strong>{{ extattr.1 }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td>None</td>
                                            {% endif %}


                                    {% elif field.1 == "CLI Credentials" %}

                                        {% if applicationServer.getCliCredentials.0 != null %}
                                                <td class = "table-entry">
                                                    <div style="color:purple;">Hover to View</div>
                                                    <div class="nested-table" style="padding-bottom:0px">
                                                        <table class="table" style="padding-bottom:0px">
                                                            <tbody>
                                                                {% for clic in applicationServer.getCliCredentials %}
                                                                    <tr>
                                                                    <td style="text-align:center">
                                                                        <strong>{{ clic.1 }}: </strong>{{ clic.0 }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td>None</td>
                                            {% endif %}

                                    {% else %}
                                        <td>{{ applicationServer|getattribute:field.0 }}</td>
                                    {% endif %}
                            {% endfor %}

                            {% for cloudField in cloudFields %}
                                <td>{{ applicationServer.cloud_information|getattribute:cloudField.0 }}</td>
                            {% endfor %}

                            {% for dmField in dmFields %}
                                {% if applicationServer.cloud_information.delegated_member != null %}
                                    <td>{{ applicationServer.cloud_information.delegated_member|getattribute:dmField.0 }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            {% endfor %}

                            {% for snmp3Field in snmp3Fields %}
                                <td>{{ applicationServer.snmp3_credential|getattribute:snmp3Field.0 }}</td>
                            {% endfor %}

                            {% for snmpField in snmpFields %}
                                <td>{{ applicationServer.snmp_credential|getattribute:snmpField.0 }}</td>
                            {% endfor %}

                            {% for awsField in awsFields %}
                                <td>{{ applicationServer.aws_rte53_record_info|getattribute:awsField.0 }}</td>
                            {% endfor %}

                            {% for ddField in ddFields %}
                                <td>{{ applicationServer.discovered_data|getattribute:ddField.0 }}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
