{% load getattribute %}
{% load getfield %}
{% block 'list' %}
<div class="container">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width: 100%;">
                <thead style="background-color: #580084; color: white">
                <a href="/infrastructureinventory/applicationserver/">
                    <tr>
                        {% for field in fields %}
                            {% if field|getfield != None %}
                                <th class="select-filter">{{ field|getfield }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </a>
                </thead>
                <tbody>
                    <!--TODO:Make this dynamic in which columns it shows-->
                    {% for applicationServer in applicationServers %}
                        <tr data-href="{%url 'details-view' pk=applicationServer.pk%}" class="my-hover">
                            {% for field in fields %}
                                {% if field|getfield != None %}
                                    <td>{{ applicationServer|getattribute:field }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}