{% block 'list' %}
<div class="container">
            <div class="col-xs-12">
            <table id="example" class="table table-bordered" style="width: 100%;">
                <thead style="background-color: #580084; color: white">
                <a href="/infrastructureinventory/applicationserver/">
                    <tr>
                        <th class="select-filter">Name</th>
                        <th class="select-filter">Record Type</th>
                        <th class="select-filter">View</th>
                        <th class="select-filter">Zone</th>
                    </tr>
                    </a>
                </thead>
                <tbody>
                    <!--TODO:Make this dynamic in which columns it shows-->
                    {% for applicationServer in applicationServers %}
                        <tr data-href="{%url 'details-view' pk=applicationServer.pk%}" class="my-hover">
                            <td>{{applicationServer.name}}</td>
                            <td>{{applicationServer.record_type}}</td>
                            <td>{{applicationServer.view}}</td>
                            <td>{{applicationServer.zone}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}