<div class="container">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="text-align:center">
                <a data-toggle="collapse" href="#collapse1">Choose Visible Columns</a>
              </h4>
            </div>

              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="" id="myform">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox" checked="checked" id="cb1" data-column='0'>
                                <label for="cb1">Server Function</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" checked="checked" data-column='1' id="cb2">
                                <label for="cb2">Primary Application</label>
                            </div>
                            <div class="col-md-2">

                                <input type="checkbox" checked="checked" data-column='2' id="cb3">
                                <label for="cb3">Hostname</label>
                            </div>
                            <div class="col-md-2">

                                <input type="checkbox" checked="checked" data-column='3' id="cb4">
                                <label for="cb4">Serial Number</label>
                            </div>
                            <div class="col-md-2">

                                <input type="checkbox" checked="checked" data-column='4' id="cb5">
                                <label for="cb5">Private IP</label>
                            </div>
                            <div class="col-md-2">

                                <input type="checkbox" checked="checked" data-column='5' id="cb6">
                                <label for="cb6">Location</label>
                            </div>

                          </div>

                          <div class="row">
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='6' id="cb7">
                                    <label for="cb7">Virtual Machine</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='7' id="cb8">
                                    <label for="cb8">Environment</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='8' id="cb9">
                                    <label for="cb9">Additional IPs</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='9' id="cb10">
                                    <label for="cb10">Datacenter</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='10' id="cb11">
                                    <label for="cb11">Operating System</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='11' id="cb12">
                                    <label for="cb12">Rack</label>
                              </div>
                          </div>
                              <div class="row">
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='12' id="cb13">
                                    <label for="cb13">Model</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='13' id="cb14">
                                    <label for="cb14">Network</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='14' id="cb15">
                                    <label for="cb15">DMZ Public IP</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='15' id="cb16">
                                    <label for="cb16">Virtual IP</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='16' id="cb17">
                                    <label for="cb17">Nat IP</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='17' id="cb18">
                                    <label for="cb18">ILO or CIMC</label>
                              </div>
                          </div>
                              <div class="row">
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='18' id="cb19">
                                    <label for="cb19">NIC MAC Address</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='19' id="cb20">
                                    <label for="cb20">Switch</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='20' id="cb21">
                                    <label for="cb21">Port</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='21' id="cb22">
                                    <label for="cb22">Purchase Order</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='22' id="cb23">
                                    <label for="cb23">Start Date</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='23' id="cb24">
                                    <label for="cb24">HW Support Date</label>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='24' id="cb25">
                                    <label for="cb25">Base Warranty</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='25' id="cb26">
                                    <label for="cb26">CPU</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='26' id="cb27">
                                    <label for="cb27">RAM</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='27' id="cb28">
                                    <label for="cb28">C:</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='28' id="cb29">
                                    <label for="cb29">D:</label>
                              </div>
                              <div class="col-md-2">

                                    <input type="checkbox" checked="checked" data-column='29' id="cb30">
                                    <label for="cb30">E:</label>
                              </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <button type="button" id="uncheck-all" class="btn btn-primary">
                                    Uncheck All
                                <span style="padding-left:7px" class="glyphicon glyphicon-check" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>


            </div>
          </div>
        </div>